.contactContainer {
  background-color: rgb(2, 12, 27);
  display: flex;
  flex-direction: column;
  padding: 0px 60px;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    padding-top: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
    article {
      color: white;
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .image {
      width: 30%;
      animation: imageFloating;
      animation-iteration-count: infinite;
      animation-duration: 4s;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// animation

@keyframes imageFloating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}
