.heroContainer {
  width: 100%;
  min-height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
  background-image: url('../../img/heroBackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  h1 {
    text-align: center;
    color: white;
    font-family: $headerFont;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    position: relative;
    font-weight: 100;
    overflow: hidden;
    display: inline-block;
    width: 280px;
    height: 30px;
    animation: nameAnimation;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0, 0, 0, 0);

    &::after {
      position: absolute;
      right: -2px;
      top: 0;
      content: '';
      display: block;
      width: 3px;
      height: 100%;
      background-color: white;
      animation: chatAnimation;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
  h3 {
    font-size: 48px;
    background: $primaryColor;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: $headerFont;
    margin: 15px 0px;
    word-break: break-word;
  }
  p {
    color: white;
    font-family: $headerFont;
    font-size: 20px;
    margin-bottom: 30px;
    word-break: break-word;
  }
  .scrollDonw {
    font-size: 45px;
    margin-top: 50px;
    color: white;
    position: relative;
    animation: scrollDown;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0, 0, 0);
    &:hover {
      color: $color3;
    }
  }
  .socialsLink {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    position: fixed;
    right: 20px;
    a {
      width: 30px;
      height: 30px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(249, 105, 14, 0.2);
      border-radius: 50%;
      padding: 5px;
      color: $color3;
      transition: 0.5s;
      &:hover {
        color: white;
        animation: socialsLinksAnimation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0, 0, 0, 0);
      }
    }
  }
}

@media (max-width: 770px) {
  .heroContainer {
    h1 {
      font-size: 18px;
      height: 20px;
      width: 225px;
      animation: nameAnimationMobile;
      animation-duration: 4s;
      animation-timing-function: ease-in-out;
    }
    h3 {
      font-size: 25px;
    }
    p {
      font-size: 13px;
    }
    .socialsLink {
      bottom: 90px;
    }
  }
}

//animations

@keyframes chatAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes nameAnimationMobile {
  0% {
    width: 225px;
  }
  5% {
    width: 210px;
  }
  10% {
    width: 200px;
  }

  15% {
    width: 190px;
  }

  20% {
    width: 170px;
  }

  25% {
    width: 155px;
  }

  30% {
    width: 135px;
  }

  35% {
    width: 120px;
  }

  40% {
    width: 110px;
  }

  45% {
    width: 90px;
  }

  50% {
    width: 75px;
  }

  55% {
    width: 60px;
  }

  60% {
    width: 50px;
  }

  65% {
    width: 30px;
  }

  70% {
    width: 15px;
  }

  75% {
    width: 0px;
  }

  100% {
    width: 225px;
  }
}

@keyframes nameAnimation {
  0% {
    width: 280px;
  }
  5% {
    width: 260px;
  }
  10% {
    width: 240px;
  }

  15% {
    width: 220px;
  }

  20% {
    width: 200px;
  }

  25% {
    width: 180px;
  }

  30% {
    width: 160px;
  }

  35% {
    width: 140px;
  }

  40% {
    width: 120px;
  }

  45% {
    width: 95px;
  }

  50% {
    width: 80px;
  }

  55% {
    width: 60px;
  }

  60% {
    width: 40px;
  }

  65% {
    width: 30px;
  }

  70% {
    width: 10px;
  }

  75% {
    width: 0px;
  }

  80% {
    width: 0px;
  }

  100% {
    width: 280px;
  }
}

@keyframes scrollDown {
  0% {
    top: 0;
  }

  50% {
    top: 30px;
  }
  70% {
    top: 0;
  }

  100% {
    top: 0;
  }
}
@keyframes socialsLinksAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
