.heroContainer {
  width: 100%;
  min-height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
  background-image: url('../../img/heroBackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  h1 {
    text-align: center;
    color: white;
    font-family: $headerFont;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    position: relative;
    font-weight: 100;
    overflow: hidden;
    display: inline-block;
    width: 280px;
    height: 30px;
    animation: chatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;

    &::after {
      position: absolute;
      right: -2px;
      top: 0;
      content: '';
      display: block;
      width: 3px;
      height: 100%;
      background-color: white;
      animation: nameAnimaition;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
  h3 {
    font-size: 48px;
    background: $primaryColor;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: $headerFont;
    margin: 15px 0px;
    word-break: break-word;
  }
  p {
    color: white;
    font-family: $headerFont;
    font-size: 20px;
    margin-bottom: 30px;
    word-break: break-word;
  }
}

@media (max-width: 770px) {
  .heroContainer {
    h1 {
      font-size: 18px;
      height: 20px;
      width: 225px;
    }
    h3 {
      font-size: 25px;
    }
    p {
      font-size: 13px;
    }
  }
}

//animations

@keyframes nameAnimaition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes chatAnimationMobile {
  0% {
    width: 225px;
  }
  5% {
    width: 210px;
  }
  10% {
    width: 200px;
  }

  15% {
    width: 190px;
  }

  20% {
    width: 170px;
  }

  25% {
    width: 155px;
  }

  30% {
    width: 135px;
  }

  35% {
    width: 120px;
  }

  40% {
    width: 110px;
  }

  45% {
    width: 90px;
  }

  50% {
    width: 75px;
  }

  55% {
    width: 60px;
  }

  60% {
    width: 50px;
  }

  65% {
    width: 30px;
  }

  70% {
    width: 15px;
  }

  75% {
    width: 0px;
  }

  100% {
    width: 225px;
  }
}

@keyframes chatAnimation {
  0% {
    width: 280px;
  }
  5% {
    width: 260px;
  }
  10% {
    width: 240px;
  }

  15% {
    width: 220px;
  }

  20% {
    width: 200px;
  }

  25% {
    width: 180px;
  }

  30% {
    width: 160px;
  }

  35% {
    width: 140px;
  }

  40% {
    width: 120px;
  }

  45% {
    width: 95px;
  }

  50% {
    width: 80px;
  }

  55% {
    width: 60px;
  }

  60% {
    width: 40px;
  }

  65% {
    width: 30px;
  }

  70% {
    width: 10px;
  }

  75% {
    width: 0px;
  }

  80% {
    width: 0px;
  }

  100% {
    width: 280px;
  }
}
