.heroContainer {
  width: 100%;
  min-height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
  background-image: url('../../img/heroBackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  h1 {
    color: white;
    font-family: $headerFont;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    position: relative;
    font-weight: 100;
    &::after {
      position: absolute;
      right: -2px;
      top: 0;
      content: '';
      display: block;
      width: 3px;
      height: 100%;
      background-color: white;
      animation: nameAnimaition;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes nameAnimaition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
