.projectCard {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;

  a {
    position: relative;
    display: flex;
    width: 50%;
    height: 245px;
    perspective: 1000px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      transform: rotateY(30deg);
      transition: 1s;
      z-index: 2;
    }
    .backGround {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 245px;
      background: $primaryColor;
      border-radius: 20px;
      transform: skew(3deg, -3deg) rotateY(30deg);
      z-index: 1;
      transition: 1s;
    }
    &:hover {
      img {
        transform: rotateY(-30deg);
        z-index: 2;
      }
      .backGround {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 245px;
        background: $primaryColor;
        border-radius: 20px;
        transform: skew(-3deg, 3deg) rotateY(-30deg);
        z-index: 1;
      }
    }
  }
  .projectInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-size: 24px;
      background: $primaryColor;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      word-break: break-word;
      text-transform: capitalize;
    }
    .tools {
      display: flex;
      gap: 15px;
      .tool {
        background: rgb(14, 33, 60);
        padding: 5px 10px;
        border-radius: 5px;
        display: inline-block;
      }
    }
    p {
      font-size: 17px;
      font-family: $secondaryFont;
      word-break: break-word;
      text-align: justify;
    }
    .link {
      display: flex;
      flex-direction: row;
      gap: 20px;
      a {
        display: inline-block;
        color: $secondaryColor;
        width: auto;
        height: auto;
        text-decoration: none;
        font-family: $headerFont;
        transition: 0.4s;
        &:hover {
          color: $color3;
        }
      }
    }
  }
}
