.projectsContainer {
  background-color: $backgroundColor;
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 80px;
  padding-top: 80px;

  ul {
    list-style: none;
  }
}

@media (max-width: 770px) {
  .projectsContainer {
    align-items: baseline;
    header {
      align-items: baseline;
    }
  }
}
