.serviceContinter {
  background: rgb(4, 20, 44);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding: 10px;
  min-height: 250px;
  max-width: 300px;
  transition: 0.5s;
  .icon {
    width: 28px;
    height: 28px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    svg {
      position: absolute;
      color: black;
      font-size: 24px;
    }
  }
  h2 {
    font-size: 24px;
    background: $primaryColor;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    word-break: break-word;
    font-family: $headerFont;
  }
  p {
    font-size: 14px;
    font-family: $secondaryFont;
    word-break: break-word;
  }
  &:hover {
    transform: translateY(-20px);
  }
}

@media (max-width: 770px) {
  .serviceContinter {
    min-height: none;
    max-width: none;
  }
}
