$primaryColor: linear-gradient(
  90deg,
  rgba(249, 105, 14, 1) 0%,
  rgba(102, 51, 153, 1) 99%
);
$navBarIcon: linear-gradient(
  90deg,
  rgba(249, 105, 14, 1) 0%,
  rgb(253, 253, 253) 99%
);
$secondaryColor: rgb(0, 206, 158);
$backgroundColor: rgb(2 12 27);
$heroBackground: linear-gradient(
  90deg,
  rgba(0, 64, 77) 0%,
  rgba(2, 12, 27) 99%
);
$color3: rgb(249, 105, 14);
$headerFont: 'Share Tech Mono', monospace;
$secondaryFont: 'Poppins', sans-serif;
